<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">

</head>

<body>
    <nav class="navbar justify-content-between fixed-top">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer">&#9776;</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-brand.html" class="navbar-brand"><img src="../../images/Logo-mnWho.svg" alt="logo"></a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <a href="bookmark-brand.html" class="btn"><img class="m-0" src="../../images/icons/nav-bookmark.svg" alt="Bell"></a>
                <a href="notifications-list-brand.html" class="btn"><img class="m-0" src="../../images/icons/nav-bell.svg" alt="Bell"></a>
                <a href="edit-profile-brand.html" class="btn avatar m-0"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social">
                <ul>
                    <li><a href="dashboard-brand.html" class="home active"></a></li>
                    <li><a href="youtube/youtube-brand.html" class="youtube"></a></li>
                    <li><a href="instagram/instagram-brand.html" class="instagram"></a></li>
                    <li><a href="facebook/facebook-brand.html" class="facebook"></a></li>
                    <li><a href="twitter/twitter-brand.html" class="twitter"></a></li>
                    <li><a href="tiktok/tiktok-brand.html" class="tiktok"></a></li>
                    <li><a href="linkedin/linkedin-brand.html" class="linkedIn"></a></li>
                    <div class="divider"></div>
                    <li><a href="payment-method-add-brand.html" class="withdrawal"></a></li>
                    <li><a href="edit-profile-brand.html" class="setting"></a></li>                    
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main" class="no-menu">
        <div class="main-section">
            <div class="banner-title brand row">
                <div class="col-12 col-md-2 nav-title-back">
                    <a href="campaign-detail-brand.html" class="btn"><img src="../../images/icons/go-back.svg" alt="back">Go back</a>
                </div>
                <div class="col-12 col-md-8 title">
                    <p class="text">Payment</p>
                </div>
                <div class="col-12 col-md-2 button">
                    <!-- <button class="btn btn-solid-white">sadsd</button> -->
                </div>
            </div>
            <div class="purchase-service block-container">
                <div class="card-select info-text">
                    <h2>Choose payment method</h2>
                    <p style="margin-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus aliquam commodo semper sed neque, arcu.</p>
                    <form style="max-width: initial;">
                        <div class="form-check form-check-inline check-card" style="max-width: 500px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label mb-0" for="inlineRadio1"><img src="../../images/profile/paypal.png" alt="img"> ****  ****  ****  ****  7948</label>
                        </div>
                        <div class="form-check form-check-inline check-card" style="max-width: 500px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label mb-0" for="inlineRadio2"><img src="../../images/profile/paypal.png" alt="img"> ****  ****  ****  ****  7948</label>
                        </div>
                        <div class="form-check form-check-inline check-card" style="max-width: 500px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            <label class="form-check-label mb-0" for="inlineRadio3"><img src="../../images/profile/paypal.png" alt="img"> ****  ****  ****  ****  7948</label>
                        </div>
                        <div class="form-check form-check-inline check-card" style="max-width: 740px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option4">
                            <div class="bank-trasfer">
                                <div class="head">
                                    <h1>Bank transfer</h1>
                                    <button class="btn"><img src="../../images/icons/trasfer-print.svg" alt="icon"></button>
                                </div>
                                <h3 class="sub-title">Subtitle</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Account Name</th>
                                                <td>Name Lastname</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Bank Name</th>
                                                <td>Emirates NBD Bank</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Swift Code</th>
                                                <td>12345</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">IBAN</th>
                                                <td>AE460090000000123456789</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Company name</th>
                                                <td>Company name</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Custom service name</th>
                                                <td>Custom service name</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Order number</th>
                                                <td>#23424</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="max-width: 500px;">
                            <label for="exampleFormControlTextarea1">Order Note</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Give the influencer instructions or note... Optional"></textarea>
                        </div>
                        <div class="d-flex" style="flex-wrap: wrap;">
                            <a href="campaign-payment-done-brand.html" class="btn btn-solid" style="width: 147px; margin-right: 20px;">Pay</a>
                            <button class="btn btn-solid-grey">Add new payment method</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer-body row">
                    <div class="col-lg-2 col-12">
                        <div class="footer-logo"><img src="../../images/mnWho-logo.svg"></div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Influencer</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="footer-social">
                            <ul>
                                <li><button class="btn"><img src="../../images/icons/instagram.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../images/icons/facebook.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../images/icons/twitter.svg" alt="icon"></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <p>© mnWho 2021. All rights reserved</p>
                    <a href="#">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>

  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
</body>

</html>