<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">

</head>

<body>
    <nav class="navbar justify-content-between fixed-top">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay brand">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <a href="dashboard-brand.html">Dashboard</a>
                        <a href="campaigns-add-brand.html">Campaigns</a>
                        <a href="service-order-add-brand.html">Service orders</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-brand.html" class="navbar-brand"><img src="../../images/Logo-mnWho.svg" alt="logo"></a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <a href="bookmark-brand.html" class="btn"><img class="m-0" src="../../images/icons/nav-bookmark.svg" alt="Bell"></a>
                <a href="notifications-list-brand.html" class="btn"><img class="m-0" src="../../images/icons/nav-bell.svg" alt="Bell"></a>
                <a href="edit-profile-brand.html" class="btn avatar m-0"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social">
                <ul>
                    <li><a href="dashboard-brand.html" class="home active"></a></li>
                    <li><a href="youtube/youtube-brand.html" class="youtube"></a></li>
                    <li><a href="instagram/instagram-brand.html" class="instagram"></a></li>
                    <li><a href="facebook/facebook-brand.html" class="facebook"></a></li>
                    <li><a href="twitter/twitter-brand.html" class="twitter"></a></li>
                    <li><a href="tiktok/tiktok-brand.html" class="tiktok"></a></li>
                    <li><a href="linkedin/linkedin-brand.html" class="linkedIn"></a></li>
                    <li><a href="github/github-brand.html" class="github"></a></li>
                    <li><a href="soundcloud/soundcloud-brand.html" class="soundcloud"></a></li>
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu" id="menu">
                <h1 class="title">General</h1>
                <li><a href="dashboard-brand.html" class="menu-dashboard">Dashboard</a></li>
                <li><a href="campaigns-add-brand.html" class="menu-campaigns active">Campaigns</a></li>
                <li><a href="service-order-add-brand.html" class="menu-service-order">Service orders</a></li>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main">
        <div class="main-section">
            <div class="banner-title brand row">
                <div class="col-12 col-md-2 nav-title-back">
                    <a href="#" class="btn"><img src="../../images/icons/go-back.svg" alt="back">Go back</a>
                </div>
                <div class="col-12 col-md-8 title">
                    <p class="text">Item</p>
                </div>
                <div class="col-12 col-md-2 button">
                    <!-- <button class="btn btn-solid-white">sadsd</button> -->
                </div>
            </div>
            <div class="row social-media-post youtube">
                <div class="col-12 social-media-post-detail">
                    <div class="embed-responsive embed-responsive-16by9 h-100">
                        <iframe class="embed-responsive-item w-100 h-100" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-12">
                    <div class="box">
                        <div class="box-body social-media-post-info">
                            <h5 class="card-title">Title</h5>
                            <div class="social-media-post-stats mt-0 mb-2">
                                <div class="item">
                                    <img src="../../images/campaign-promotion/video-icon.svg" alt="icon">
                                    <p>32 093</p>
                                </div>
                                <div class="item">
                                    <img src="../../images/campaign-promotion/video-icon2.svg" alt="icon">
                                    <p>32 093</p>
                                </div>
                                <div class="item">
                                    <img src="../../images/campaign-promotion/video-icon3.svg" alt="icon">
                                    <p>1 530</p>
                                </div>
                                <div class="item">
                                    <img src="../../images/campaign-promotion/video-icon4.svg" alt="icon">
                                    <p>1 530</p>
                                </div>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor suspendisse tortor imperdiet et in magna.</p>
                            <p class="card-hash-tag">#hashtag #hashtag #hashtag #hashtag #hashtag</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body social-media-video-comment info-text">
                            <h1 class="title">Comments</h1>
                            <div class="item">
                                <h3>Name Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus viverra consequat venenatis ut. Velit magna egestas leo.</p>
                            </div>
                            <div class="item">
                                <h3>Name Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis, imperdiet nisl velit. Tempor vel egestas vitae sodales. Tortor, nisl sed pellentesque phasellus massa odio. Sit in in ultricies porttitor tristique ipsum eleifend venenatis, sed.</p>
                            </div>
                            <div class="item">
                                <h3>Name Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis, imperdiet nisl velit. Tempor vel egestas vitae sodales. Tortor, nisl sed pellentesque phasellus massa odio. Sit in in ultricies porttitor tristique ipsum eleifend venenatis, sed.</p>
                            </div>
                            <div class="item">
                                <h3>Name Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis, imperdiet nisl velit. Tempor vel egestas vitae sodales. Tortor, nisl sed pellentesque phasellus massa odio. Sit in in ultricies porttitor tristique ipsum eleifend venenatis, sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis, imperdiet nisl velit. Tempor vel egestas vitae sodales. Tortor, nisl sed pellentesque phasellus massa odio. Sit in in ultricies porttitor tristique ipsum eleifend venenatis, sed.</p>
                            </div>
                            <button class="btn btn-solid-grey w-100">See more <img src="../../images/icons/arrow-down-brand.svg" alt="arrow"></button>
                        </div>
                    </div>
                    <hr>
                    <div class="nav-title">
                        <h1>Reports</h1>
                    </div>
                    <div class="service-report">
                        <div class="service-report-card mt-0">
                            <div class="box">
                                <div class="box-body item">
                                    <img src="../../images/icons/views-brand.svg" alt="icon">
                                    <div class="text">
                                        <h4>1 757 903</h4>
                                        <p>All views</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box">            
                                <div class="box-body item">
                                    <img src="../../images/icons/likes-brand.svg" alt="icon">
                                    <div class="text">
                                        <h4>357 877</h4>
                                        <p>All likes</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box">            
                                <div class="box-body item">
                                    <img src="../../images/icons/comments-brand.svg" alt="icon">
                                    <div class="text">
                                        <h4>354 766</h4>
                                        <p>Comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="metric-graph">
                        <div class="line-chart">
                            <div class="item">
                                <h1 class="title" style="color: #212121;">Age</h1>
                                <div class="box">
                                    <div class="box-body">
                                        <div>
                                          <canvas id="youtubeAgeLineChart" width="717" height="357" style="display: block; box-sizing: border-box; height: 357px; width: 717px;"></canvas>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <h1 class="title" style="color: #212121;">Some</h1>
                                <div class="box">
                                    <div class="box-body">
                                        <div>
                                          <canvas id="youtubeSmthLineChart" width="717" height="357" style="display: block; box-sizing: border-box; height: 357px; width: 717px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doughnut-chart">
                            <div class="item">
                                <h1 class="title" style="color: #212121;">Gender</h1>
                                <div>
                                    <canvas id="youtubeGenderDoughnutChart" width="334" height="334" style="display: block; box-sizing: border-box; height: 334px; width: 334px;"></canvas>
                                </div>  
                            </div>
                            <div class="item">
                                <h1 class="title" style="color: #212121;">Languages</h1>
                                <div>
                                    <canvas id="youtubeLanguagesDoughnutChart" width="334" height="334" style="display: block; box-sizing: border-box; height: 334px; width: 334px;"></canvas>
                                </div>
                            </div>
                            <div class="item">
                                <h1 class="title" style="color: #212121;">Countries</h1>
                                <div>
                                    <canvas id="youtubeCountriesDoughnutChart" width="334" height="334" style="display: block; box-sizing: border-box; height: 334px; width: 334px;"></canvas>
                                </div> 
                            </div>
                            <div class="item">
                                <h1 class="title" style="color: #212121;">Engatement</h1>
                                <div>
                                    <canvas id="youtubeEngatementDoughnutChart" width="334" height="334" style="display: block; box-sizing: border-box; height: 334px; width: 334px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer-body row">
                    <div class="col-lg-2 col-12">
                        <div class="footer-logo"><img src="../../images/mnWho-logo.svg"></div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Influencer</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="footer-social">
                            <ul>
                                <li><button class="btn"><img src="../../images/icons/instagram.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../images/icons/facebook.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../images/icons/twitter.svg" alt="icon"></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <p>© mnWho 2021. All rights reserved</p>
                    <a href="#">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
    <!-- /****instagram age line chart****/ -->
<script>
var xValues = [1,2,3,4,5,6];
var yValues = [5000,40000,50000,100000,45000,5000];

let width1, height1, gradient1;
function getAgeGradient(ctx, chartArea) {
  const chartWidth = chartArea.right - chartArea.left;
  const chartHeight = chartArea.bottom - chartArea.top;
  if (gradient1 === null || width1 !== chartWidth || height1 !== chartHeight) {
    // Create the gradient because this is either the first render
    // or the size of the chart has changed
    width1 = chartWidth;
    height1 = chartHeight;
    gradient1 = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
    gradient1.addColorStop(0, "#6A958600");
    gradient1.addColorStop(1, "#6A9586");
  }

  return gradient1;
}

new Chart("youtubeAgeLineChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: true,
      backgroundColor: function(context) {
        const chart = context.chart;
        const {ctx, chartArea} = chart;

        if (!chartArea) {
          // This case happens on initial chart load
          return null;
        }
        return getAgeGradient(ctx, chartArea);
      },
      borderColor: "#6A9586",
      tension: 0.2,
      pointRadius: 2,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    plugins: {
      title: {
        display: false
      },
      legend: {
        display: false,
      },
    },
    scales: {
      y: [{ticks: {min: 5000, max:100000}}],
    }
  }
});
</script>
<!-- /***********************/
/****instagram smth line chart****/ -->
<script>

var xValues = [1,2,3,4,5,6,7,8,9];
var yValues = [0,45000,30000,100000,85000,135000,150000, 75000, 0];

let width, height, gradient;
function getGradient(ctx, chartArea) {
  const chartWidth = chartArea.right - chartArea.left;
  const chartHeight = chartArea.bottom - chartArea.top;
  if (gradient === null || width !== chartWidth || height !== chartHeight) {
    // Create the gradient because this is either the first render
    // or the size of the chart has changed
    width = chartWidth;
    height = chartHeight;
    gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
    gradient.addColorStop(0, "#707FDA00");
    gradient.addColorStop(1, "#707FDA");
  }

  return gradient;
}


new Chart("youtubeSmthLineChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: true,
      backgroundColor: function(context) {
        const chart = context.chart;
        const {ctx, chartArea} = chart;

        if (!chartArea) {
          // This case happens on initial chart load
          return null;
        }
        return getGradient(ctx, chartArea);
      },
      borderColor: "#707FDA",
      tension: 0.2,
      pointRadius: 2,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    plugins: {
      title: {
        display: false
      },
      legend: {
        display: false,
      },
    },
    scales: {
      y: [{ticks: {min: 5000, max:100000}}],
    }
  }
});
</script>

<!-- /****instagram gender doughnut chart****/ -->
<script>
var xValues = ["Male", "Female"];
var yValues = [55, 45];
var barColors = [
  "#6A9586",
  "#F57070"
];

new Chart("youtubeGenderDoughnutChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: false
    },
    plugins: {
      legend: {
        position: "right",
        align: "start",
        labels: {
          usePointStyle: true,
        },
      }
    }
  }
});
</script>
<!-- /*****************/
/****instagram Languages doughnut chart****/ -->
<script>
var xValues = ["Caucasin", "Indian", "African American", "Hispanic", "Asian"];
var yValues = [29, 21, 13, 12, 25];
var barColors = [
  "#6A9586",
  "#F57070",
  "#34BAB2",
  "#F5A200",
  "#707FDA"
];

new Chart("youtubeLanguagesDoughnutChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: false
    },
    plugins: {
      legend: {
        position: "right",
        align: "start",
        labels: {
          usePointStyle: true,
        },
      }
    }
  }
});
</script>
<!-- /*****************/
/****instagram Countries doughnut chart****/ -->
<script>
var xValues = ["Caucasin", "Indian", "African American", "Hispanic", "Asian"];
var yValues = [29, 21, 13, 12, 25];
var barColors = [
  "#6A9586",
  "#F57070",
  "#34BAB2",
  "#F5A200",
  "#707FDA"
];

new Chart("youtubeCountriesDoughnutChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: false
    },
    plugins: {
      legend: {
        position: "right",
        align: "start",
        labels: {
          usePointStyle: true,
        },
      }
    }
  }
});
</script>
<!-- /*****************/
/****instagram Engatement doughnut chart****/ -->
<script>
var xValues = ["Likes", "Share", "Views", "Followers", "Comment"];
var yValues = [29, 21, 13, 12, 25];
var barColors = [
  "#6A9586",
  "#F57070",
  "#34BAB2",
  "#F5A200",
  "#707FDA"
];

new Chart("youtubeEngatementDoughnutChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: false
    },
    plugins: {
      legend: {
        position: "right",
        align: "start",
        labels: {
          usePointStyle: true,
        },
      }
    }
  }
});
</script>
<!-- ************* -->

</body>

</html>
