<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/main.css">



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>

<body>
    <nav class="navbar justify-content-between fixed-top violet">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay">
                    <a href="javascript:void(0)" class="closebtn btn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <a href="#">Content</a>
                        <a href="#">Services</a>
                        <a href="#">Orders</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-influencer.html" class="navbar-brand"><img src="../../../images/tech-logo.svg" alt="logo"></a>
                
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn p-0"><img class="m-0" src="../../../images/icons/nav-bell.svg" alt="Bell"></button>
                <button class="btn avatar"><img class="rounded-circle" src="../../../images/ava.png" alt="ava"></button>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social violet">
                <ul>
                    <li><a href="../dashboard-influencer.html" class="home"></a></li>
                    <li><a href="../youtube/youtube-add.html" class="youtube"></a></li>
                    <li><a href="instagram-add.html" class="instagram active"></a></li>
                    <li><a href="../facebook/facebook-add.html" class="facebook"></a></li>
                    <li><a href="../twitter/twitter-add.html" class="twitter"></a></li>
                    <li><a href="../tiktok/tiktok-add.html" class="tiktok"></a></li>
                    <li><a href="../linkedin/linkedin-add.html" class="linkedIn"></a></li>
                    <div class="divider"></div>
                    <li><a href="../invoice-influencer.html" class="withdrawal"></a></li>
                    <li><a href="../edit-profile-influencer.html" class="setting"></a></li>                    
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu violet" id="menu">
                <h1 class="title">Instagram</h1>
                <li><a href="instagram-content.html" class="menu-content">Content</a></li>
                <li><a href="instagram-service.html" class="menu-service active">Services</a></li>
                <li><a href="instagram-order.html" class="menu-metrics">Orders</a></li>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main">
        <div class="main-section">
            <div class="banner-title row instagram">
                <div class="col-12 col-md-2 nav-title-back">
                    
                </div>
                <div class="col-12 col-md-8 title">
                    <img src="../../../images/icons/banner-instagram.svg" alt="icon">
                    <p class="text">Services</p>
                    <span>Channel: LabelCom</span>
                </div>
                <div class="col-12 col-md-2 button">
                    <!-- <button class="btn btn-solid-white">sadsd</button> -->
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <form class="violet">
                        <div class="form-group">
                            <label for="numberOfEmployees">Instagram Channel for this service</label>
                            <select class="form-control" id="numberOfEmployees">
                                <option>Filled by default</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Select your account that will provide the service</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The name of your service">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Description of your service"></textarea>
                            <small id="emailHelp" class="form-text text-muted">Let me tell you about the service, provide in detail so you know what to expect.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Delivery Type</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="What will you be delivering to the client as part of your service."></textarea>
                            <small id="emailHelp" class="form-text text-muted">What will you be delivering to the client as part of your service.</small>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Location</label>
                            <select class="form-control" id="numberOfEmployees">
                                <option>Select location</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Select one or more location of your service</small>
                            <div class="selected-items">
                                <ul>
                                    <li>United Arab Emirates<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                                    <li>Spain<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                                </ul>                           
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Language</label>
                            <select class="form-control" id="numberOfEmployees">
                                <option>Select language</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Select one or more languages of your service</small>
                            <div class="selected-items">
                                <ul>
                                    <li>English<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                                    <li>Arabic<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                                </ul>                           
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Category</label>
                            <select class="form-control" id="numberOfEmployees">
                                <option>Select category</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Select one or more categories of your service</small>
                            <div class="selected-items">
                                <ul>
                                    <li>Web development<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                                </ul>                           
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="title">Service Price</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="200$  please visit rate card tab for suggested price">
                        </div>
                        <div class="form-group">
                            <label for="title">Service Images</label>
                            <label class="btn form-control drop-file">
                                <input type="file" id="id_image" name="image" style="display: none" accept="image/*" class="form-control" data-com.bitwarden.browser.user-edit="yes">
                                <img src="../../../images/campaigns/drop-img-violet.svg" alt="picture">
                                <img src="../../../images/campaigns/drop-video-violet.svg" alt="video">
                                <p>Click or drag your photo here to upload</p>
                            </label>
                            <small id="emailHelp" class="form-text text-muted">Add up to 4 photos</small>
                            <div class="uploaded">
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded1.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded2.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded3.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded4.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title">Service Video URLs</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The name of your service giveaway">
                            <small id="emailHelp" class="form-text text-muted">Add up to 4 video URLs</small>
                            <div class="uploaded">
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded1.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded2.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded3.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                                <div class="item">
                                    <img src="../../../images/campaigns/uploaded4.png" alt="uploaded">
                                    <button class="btn"> <img src="../../../images/campaigns/cancel-btn.svg" alt="canel"></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Delivery Time (Days)</label>
                            <div class="input-group plus-minus">
                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                <div class="input-group-append d-flex">
                                    <button class="btn mt-0" type="button"><img src="../../../images/icons/form-minus-icon.svg" alt="icon"></button>
                                    <button class="btn mt-0" type="button"><img src="../../../images/icons/form-plus-icon.svg" alt="icon"></button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex" style="flex-wrap: wrap;">
                            <a href="instagram-service-done.html" type="submit" class="btn btn-solid-violet mb-1" style="margin-right: 20px">Submit Service</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer-body row">
                    <div class="col-lg-2 col-12">
                        <div class="footer-logo"><img src="../../../images/mnWho-logo.svg"></div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Influencer</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="footer-social">
                            <ul>
                                <li><button class="btn"><img src="../../../images/icons/instagram.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../../images/icons/facebook.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../../images/icons/twitter.svg" alt="icon"></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <p>© mnWho 2021. All rights reserved</p>
                    <a href="#">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../../js/index.js"></script>


    <script>
        document.querySelectorAll('.splide').forEach(carousel => new Splide( carousel, {
          perPage: 3,
          perMove: 1,
          fixedWidth: 340,
          gap: 20,
          arrows: false,
          pagination: false 
        } ).mount());
    </script>

  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>