<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">


</head>


<body>
    <nav class="navbar justify-content-between fixed-top violet">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <a href="dashboard-influencer.html">Dashboard</a>
                        <a href="services-add-influencer.html">Services</a>
                        <a href="orders-list-influencer.html">Orders</a>
                        <a href="withdrawal-influencer.html">Withdrawals</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-influencer.html" class="navbar-brand"><img src="../../images/Logo-mnWho.svg" alt="logo"></a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn p-0"><img class="m-0" src="../../images/icons/nav-bell.svg" alt="Bell"></button>
                <a href="edit-profile-influencer.html" class="btn avatar"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social violet">
                <ul>
                    <li><a href="dashboard-influencer.html" class="home active"></a></li>
                    <li><a href="youtube/youtube-add.html" class="youtube"></a></li>
                    <li><a href="instagram/instagram-add.html" class="instagram"></a></li>
                    <li><a href="facebook/facebook-add.html" class="facebook"></a></li>
                    <li><a href="twitter/twitter-add.html" class="twitter"></a></li>
                    <li><a href="tiktok/tiktok-add.html" class="tiktok"></a></li>
                    <li><a href="linkedin/linkedin-add.html" class="linkedIn"></a></li>
                    <li><a href="github/github-add.html" class="github"></a></li>
                    <li><a href="soundcloud/soundcloud-add.html" class="soundcloud"></a></li>
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu violet" id="menu">
                <h1 class="title">General</h1>
                <li><a href="dashboard-influencer.html" class="menu-dashboard">Dashboard</a></li>
                <li><a href="services-add-influencer.html" class="menu-service">Services</a></li>
                <li><a href="orders-list-influencer.html" class="menu-service-order active">Orders</a></li>
                <li><a href="withdrawal-influencer.html" class="menu-withdrawal">Withdrawals</a></li>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main">
        <div class="main-section">
            <div class="banner-title row">
                <div class="col-12 col-md-2 nav-title-back">
                    <!-- <a href="#" class="btn"><img src="../../images/icons/go-back.svg" alt="back">Go back</a> -->
                </div>
                <div class="col-12 col-md-8 title">
                    <p class="text">Orders</p>
                </div>
                <div class="col-12 col-md-2 button">
                    <!-- <button class="btn btn-solid-white">sadsd</button> -->
                </div>
            </div>
            <div class="dashboard-stats">
                <div class="box">
                    <div class="box-body info-text">
                        <h2 style="margin-bottom: 30px;">Service</h2>
                        <div class="dashboard-stats-info">
                            <div class="item">
                                <img src="../../images/dashboard/view.svg" alt="icon">
                                <div>
                                    <h3>117</h3>
                                    <p>Times viewed</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../../images/dashboard/money.svg" alt="icon">
                                <div>
                                    <h3>4999 AED</h3>
                                    <p>Service earned</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../../images/dashboard/inprogress.svg" alt="icon">
                                <div>
                                    <h3>6</h3>
                                    <p>Completed</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../../images/dashboard/inprogress.svg" alt="icon">
                                <div>
                                    <h3>4</h3>
                                    <p>In progress</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="right-frame">
                    <div class="box">
                        <div class="box-body order-gallery">
                            <div class="big-img">
                                <img src="../../images/campaign-promotion/gallery-big-img.png" alt="big-img">
                            </div>
                            <div class="small-img">
                                <img src="../../images/campaign-promotion/gallery-sm1.png" alt="sm-img">
                                <img src="../../images/campaign-promotion/gallery-sm2.png" alt="sm-img">
                                <img src="../../images/campaign-promotion/gallery-sm3.png" alt="sm-img">
                                <img src="../../images/campaign-promotion/gallery-sm4.png" alt="sm-img">
                                <img src="../../images/campaign-promotion/gallery-sm5.png" alt="sm-img">
                                <img src="../../images/campaign-promotion/gallery-sm6.png" alt="sm-img">
                                <img src="../../images/campaign-promotion/gallery-sm7.png" alt="sm-img">
                                <img src="../../images/campaign-promotion/gallery-sm8.png" alt="sm-img">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body campaign-manager">
                            <h1 class="title">Influencer</h1>
                            <div class="manager">
                                <img src="../../images/campaign-promotion/manager-ava.png" alt="ava">
                                <p>Darrell Steward</p>
                            </div>
                            <button class="btn btn-outline-violet w-100">Chat with Influencer</button>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <div class="center-title">
                        <p>Service details</p>
                    </div>
                    <div class="box">
                        <div class="box-body info-text">
                            <h2>Service Title</h2>
                            <p>Lorem ipsum dolor sit amet</p>
                        <hr>
                            <h2>Service DESCRIPTION</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nibh hendrerit velit commodo pellentesque tellus urna magna tincidunt. Sagittis egestas in amet purus justo. Imperdiet mattis sagittis nisi, risus cursus in aenean eu interdum. Morbi eu, nec augue nunc neque a, senectus felis. Mattis ipsum auctor fames dui. In ultrices pulvinar pharetra, erat turpis nulla imperdiet sed. Eleifend massa magna risus dictum at est. Vitae massa nibh ornare libero, elit, leo. Sapien, nunc ipsum ullamcorper pellentesque. Facilisis lorem nibh diam id mus. Ac ac rhoncus viverra viverra et egestas eget porttitor. At ac non praesent nec lectus.</p> 
                        </div>
                    </div>
                    <div class="center-title">
                        <p>order details</p>
                    </div>
                    <div class="box">
                        <div class="box-body info-text">
                            <h2>ordeer</h2>
                            <p>Lorem ipsum dolor sit amet</p>
                        <hr>
                            <h2>order details</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nibh hendrerit velit commodo pellentesque tellus urna magna tincidunt. Sagittis egestas in amet purus justo. Imperdiet mattis sagittis nisi, risus cursus in aenean eu interdum. Morbi eu, nec augue nunc neque a, senectus felis. Mattis ipsum auctor fames dui. In ultrices pulvinar pharetra, erat turpis nulla imperdiet sed. Eleifend massa magna risus dictum at est. Vitae massa nibh ornare libero, elit, leo. Sapien, nunc ipsum ullamcorper pellentesque. Facilisis lorem nibh diam id mus. Ac ac rhoncus viverra viverra et egestas eget porttitor. At ac non praesent nec lectus.</p> 
                        </div>
                    </div>
                    <div class="center-title">
                        <p>campaign details</p>
                    </div>
                    <div class="box">
                        <div class="box-body info-text">
                            <h2>campaiign name</h2>
                            <p>Lorem ipsum dolor sit amet</p>
                        <hr>
                            <h2>Cappaign details</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nibh hendrerit velit commodo pellentesque tellus urna magna tincidunt. Sagittis egestas in amet purus justo. Imperdiet mattis sagittis nisi, risus cursus in aenean eu interdum. Morbi eu, nec augue nunc neque a, senectus felis. Mattis ipsum auctor fames dui. In ultrices pulvinar pharetra, erat turpis nulla imperdiet sed. Eleifend massa magna risus dictum at est. Vitae massa nibh ornare libero, elit, leo. Sapien, nunc ipsum ullamcorper pellentesque. Facilisis lorem nibh diam id mus. Ac ac rhoncus viverra viverra et egestas eget porttitor. At ac non praesent nec lectus.</p> 
                        </div>
                    </div>
                    <div class="center-title">
                        <p>delivery details</p>
                    </div>
                    <div class="box">
                        <div class="box-body info-text">
                            <h2>Delivery Details</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nibh hendrerit velit commodo pellentesque tellus urna magna tincidunt. Sagittis egestas in amet purus justo. Imperdiet mattis sagittis nisi, risus cursus in aenean eu interdum. Morbi eu, nec augue nunc neque a, senectus felis. Mattis ipsum auctor fames dui. In ultrices pulvinar pharetra, erat turpis nulla imperdiet sed. Eleifend massa magna risus dictum at est. Vitae massa nibh ornare libero, elit, leo. Sapien, nunc ipsum ullamcorper pellentesque. Facilisis lorem nibh diam id mus. Ac ac rhoncus viverra viverra et egestas eget porttitor. At ac non praesent nec lectus.</p>
                            <hr>
                            <h2>giveaway</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nibh hendrerit velit commodo pellentesque tellus urna magna tincidunt. Sagittis egestas in amet purus justo. Imperdiet mattis sagittis nisi, risus cursus in aenean eu interdum. Morbi eu, nec augue nunc neque a, senectus felis. Mattis ipsum auctor fames dui. In ultrices pulvinar pharetra, erat turpis nulla imperdiet sed. Eleifend massa magna risus dictum at est. Vitae massa nibh ornare libero, elit, leo. Sapien, nunc ipsum ullamcorper pellentesque. Facilisis lorem nibh diam id mus. Ac ac rhoncus viverra viverra et egestas eget porttitor. At ac non praesent nec lectus.</p>
                            <hr>
                            <h2>order notes</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa nibh hendrerit velit commodo pellentesque tellus urna magna tincidunt. Sagittis egestas in amet purus justo. Imperdiet mattis sagittis nisi, risus cursus in aenean eu interdum. Morbi eu, nec augue nunc neque a, senectus felis. Mattis ipsum auctor fames dui. In ultrices pulvinar pharetra, erat turpis nulla imperdiet sed. Eleifend massa magna risus dictum at est. Vitae massa nibh ornare libero, elit, leo. Sapien, nunc ipsum ullamcorper pellentesque. Facilisis lorem nibh diam id mus. Ac ac rhoncus viverra viverra et egestas eget porttitor. At ac non praesent nec lectus.</p>
                        </div>
                    </div>
                    <div class="center-title">
                        <p>media</p>
                    </div>
                    <div class="box">
                        <div class="box-body service-statistics">
                            <h1 class="title">SHARE camapign URL</h1>
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            <div class="url-copy d-flex w-100">
                                                <img style="margin-right: 16px;" src="../../images/icons/url-copy.svg" alt="icon">
                                                <form class="violet w-100" style="max-width: 100%;">
                                                    <fieldset disabled>
                                                        <div class="form-group mb-0">
                                                            <input  id="disabledTextInput" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="https://www.youtube.com/channel/UCPGKizSs-jOR0sNoOEtnMXQ">
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <p class="url-copy-description">Description/instruction lorem ipsum</p>
                                            <div class="url-btn">
                                                <p>share:</p>
                                                <button class="btn"><img src="../../images/icons/url-share-fb.svg" alt="icon"></button>
                                                <button class="btn"><img src="../../images/icons/url-share-insta.svg" alt="icon"></button>
                                                <button class="btn"><img src="../../images/icons/url-share-tw.svg" alt="icon"></button>
                                                <button class="btn"><img src="../../images/icons/url-share-in.svg" alt="icon"></button>
                                                <button class="btn copy"><img src="../../images/icons/url-share-copy.svg" alt="icon">Copy link</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <h1 class="title">SHARE campaign image</h1>
                            <div class="share-image">
                                <div id="secondary-slider" class="splide mb-3">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <li class="splide__slide">
                                                <img src="../../images/campaign-promotion/gallery-sm1.png">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../../images/campaign-promotion/gallery-sm2.png">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../../images/campaign-promotion/gallery-sm3.png">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../../images/campaign-promotion/gallery-sm4.png">
                                            </li>
                                            <li class="splide__slide">
                                                <img src="../../images/campaign-promotion/gallery-sm5.png">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="url-copy-description">Description/instruction lorem ipsum</p>
                                <div class="url-btn">
                                    <p>share:</p>
                                    <button class="btn"><img src="../../images/icons/url-share-fb.svg" alt="icon"></button>
                                    <button class="btn"><img src="../../images/icons/url-share-insta.svg" alt="icon"></button>
                                    <button class="btn"><img src="../../images/icons/url-share-tw.svg" alt="icon"></button>
                                    <button class="btn"><img src="../../images/icons/url-share-in.svg" alt="icon"></button>
                                    <button class="btn copy"><img src="../../images/icons/url-share-copy.svg" alt="icon">Copy link</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-title">
                        <p>status</p>
                    </div>
                    <div class="box">
                        <div class="box-body order-btn">
                            <h1 class="title">Order Status</h1>
                            <div class="d-flex status status-pending mb-3" style="align-items: center;">
                                <p>Pending</p>
                            </div>
                            <div class="d-flex justify-content-between flex-wrap">
                                <a href="order-campaign-in-progress-influencer.html" class="btn btn-solid-violet" style="width: 48%">Accept (Service Order 4533)</a>
                                <button class="btn btn-solid-grey" style="width: 48%; color: #707FDA;">Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-12 col-xl-2">
                        <div class="logo">
                            <img src="../../images/mnWho-logo.svg" alt="logo">
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><img src="../../images/blog/instagram1.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/facebook.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/twitter.svg" alt="insta"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-xl-10">
                        <div class="row footer-link">
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Influencers</h3></li>
                                    <li><a href="#">Influencer</a></li>
                                    <li><a href="#">Influencer pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Brands</h3></li>
                                    <li><a href="#">Brand</a></li>
                                    <li><a href="#">Brand pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Resources</h3></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>About us</h3></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <div><p>© mnWho 2021. All rights reserved</p></div>
                    <div>
                        <a href="#">Terms</a>
                        <a href="#">Privacy</a>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>

    <script>
document.addEventListener( 'DOMContentLoaded', function () {
    var secondarySlider = new Splide( '#secondary-slider', {
        fixedWidth  : 90,
        height      : 76,
        gap         : 36,
        cover       : true,
        isNavigation: true,
        focus       : 'center',
        // breakpoints : {
        //     '600': {
        //         fixedWidth: 66,
        //         height    : 40,
        //     }
        // },
    } ).mount();
    
    
    
} );
    </script>
</body>

</html>
