<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="../../css/main.css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css" />
    </head>

    <body>
        <nav class="navbar justify-content-between fixed-top violet">
            <div class="row d-block d-lg-none">
                <div class="col">
                    <span style="font-size: 30px; cursor: pointer" onclick="openSidebar()">&#9776;</span>
                    <div id="mySidebar" class="sidebar-overlay">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                        <div class="sidebar-overlay-content">
                            <a href="edit-profile-influencer.html">Edit profile</a>
                            <a href="email-password-influencer.html">Email & password</a>
                            <a href="notification-influencer.html">Notifcation settings</a>
                            <a href="invoice-influencer.html">Invoices</a>
                            <a href="payment-method-add-influencer.html">Payment method</a>
                            <a href="withdrawal-method-add.html">Withdrawal method</a>
                            <!-- <a href="subscription-influencer.html">Subscription</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="dashboard-influencer.html" class="navbar-brand"><img src="../../images/tech-logo.svg" alt="logo" /></a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <button class="btn p-0"><img class="m-0" src="../../images/icons/nav-bell.svg" alt="Bell" /></button>
                    <a href="edit-profile-influencer.html" class="btn avatar"><img class="rounded-circle" src="../../images/ava.png" alt="ava" /></a>
                </div>
            </div>
        </nav>
        <div class="sidebar">
            <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available">
                <div class="social violet">
                    <ul>
                        <li>
                            <p><a href="dashboard-influencer.html" class="dashboard">Dashboard</a></p>
                        </li>
                        <li>
                            <p><a href="request.html" class="request">Requests</a></p>
                        </li>
                        <li>
                            <p><a href="" class="service">Services</a></p>
                        </li>
                        <li>
                            <p><a href="" class="channel">Channels</a></p>
                        </li>
                        <li>
                            <p><a href="" class="order">Orders</a> <span class="sidebar-badge">2</span></p>
                        </li>
                        <li>
                            <p><a href="" class="payment">Payments</a></p>
                        </li>
                        <div class="divider"></div>
                        <li>
                            <p><a href="edit-profile-influencer.html" class="setting">Settings</a></p>
                        </li>
                    </ul>
                    <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon" /></button>
                </div>
                <div class="menu violet" id="menu">
                    <h1 class="title">Edit profile</h1>
                    <li><a href="edit-profile-influencer.html" class="menu-edit">Edit profile</a></li>
                    <li><a href="email-password-influencer.html" class="menu-password">Email & password</a></li>
                    <li><a href="notification-influencer.html" class="menu-notification">Notifcation settings</a></li>
                    <hr />
                    <li><a href="invoice-influencer.html" class="menu-invoice">Invoices</a></li>
                    <li><a href="payment-method-add-influencer.html" class="menu-payment-method active">Payment method</a></li>
                    <li><a href="withdrawal-method-add.html" class="menu-withdrawal">Withdrawal method</a></li>
                    <!-- <li><a href="subscription-influencer.html" class="menu-subscription">Subscription</a></li> -->
                </div>
            </div>
        </div>
        <div class="overlay"></div>
        <main id="main">
            <div class="main-section">
                <div class="banner-title">
                    <!-- <div class="nav-title-back">
                    <a href="#" class="btn"><img src="../../images/icons/go-back.svg" alt="back"></a>
                </div> -->
                    <div class="title d-flex align-items-center justify-content-between">
                        <p class="text">Payment settings</p>
                        <a href="#" class="btn btn-solid-white"><img src="../../images/campaigns/add-icon.svg" alt="add-icon" style="margin-right: 15px" />Add payment method</a>
                    </div>
                </div>
                <div class="payment-card-select block-container">
                    <h1>Your default credit card</h1>
                    <div class="card-select">
                        <form class="violet">
                         
                            <div class="form-check form-check-inline check-card">
                                <input class="form-check-input" type="radio" name="default_17"
                                       id="inlineRadio1" value="option1"
                                       checked>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="form-check-label mb-0 w-100"
                                           for="inlineRadio1"><img
                                            src="../../images/profile/payoneer-logo.png"
                                            alt="img">
                                            <div class="name-email">
                                                <p>Abduhamidov Abdubannob Abdumalik ugli</p>
                                                <span>abduhamidovm52@gmail.com</span>
                                            </div>
                                    </label>
                                    <button class="btn p-0" type="button" data-bs-toggle="modal"
                                            data-bs-target="#modal_17"><img
                                            style="margin-right: 0;"
                                            src="../../images/icons/x-icon.svg"
                                            alt="x-icon"></button>
                                </div>
                            </div>

                            <div class="form-check form-check-inline check-card">
                                <input class="form-check-input" type="radio" name="default_17"
                                       id="inlineRadio1" value="option1"
                                       checked>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="form-check-label mb-0 w-100"
                                           for="inlineRadio1"><img
                                            src="../../images/profile/payoneer-logo.png"
                                            alt="img">
                                            <div class="name-email">
                                                <p>Abduhamidov Abdubannob Abdumalik ugli</p>
                                                <span>abduhamidovm52@gmail.com</span>
                                            </div>
                                    </label>
                                    <button class="btn p-0" type="button" data-bs-toggle="modal"
                                            data-bs-target="#modal_17"><img
                                            style="margin-right: 0;"
                                            src="../../images/icons/x-icon.svg"
                                            alt="x-icon"></button>
                                </div>
                            </div>

                            <div class="form-check form-check-inline check-card">
                                <input class="form-check-input" type="radio" name="default_17"
                                       id="inlineRadio1" value="option1"
                                       checked>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="form-check-label mb-0 w-100"
                                           for="inlineRadio1"><img
                                            src="../../images/profile/payoneer-logo.png"
                                            alt="img">
                                            <div class="name-email">
                                                <p>Abduhamidov Abdubannob Abdumalik ugli</p>
                                                <span>abduhamidovm52@gmail.com</span>
                                            </div>
                                    </label>
                                    <button class="btn p-0" type="button" data-bs-toggle="modal"
                                            data-bs-target="#modal_17"><img
                                            style="margin-right: 0;"
                                            src="../../images/icons/x-icon.svg"
                                            alt="x-icon"></button>
                                </div>
                            </div>
                            
                        </form>
                        <a href="payment-method-default-done-influencer.html" class="btn btn-solid-violet">Save default payment method</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content block-container">
                        <div class="modal-header d-block">
                            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                                <img class="m-0" src="../../images/icons/close.svg" alt="close" />
                            </button>
                        </div>
                        <div class="modal-body mt-2">
                            <h1>Are you sure?</h1>
                            <p>You are about to delete the payment method. Press okay to confirm the deletion.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-solid-grey" data-dismiss="modal" style="color: #757575">Close</button>
                            <a href="payment-method-default-deleted-influencer.html" type="button" class="btn btn-solid-violet" style="margin-left: 20px">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="footer-body row">
                        <div class="col-lg-2 col-12">
                            <div class="footer-logo"><img src="../../images/tech-white-logo.svg" /></div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="footer-link">
                                <ul>
                                    <li><a href="#">Brand</a></li>
                                    <li><a href="#">Influencer</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12">
                            <div class="footer-social">
                                <ul>
                                    <li>
                                        <button class="btn"><img src="../../images/icons/linkedin.svg" alt="icon" /></button>
                                    </li>
                                    <li>
                                        <button class="btn"><img src="../../images/icons/instagram.svg" alt="icon" /></button>
                                    </li>
                                    <li>
                                        <button class="btn"><img src="../../images/icons/facebook.svg" alt="icon" /></button>
                                    </li>
                                    <li>
                                        <button class="btn"><img src="../../images/icons/twitter.svg" alt="icon" /></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="container">
                    <div class="footer-bottom">
                        <p>© Techfluencers 2023. All rights reserved</p>
                        <a href="#">Terms and Conditions</a>
                    </div>
                </div>
            </footer>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="../../js/index.js"></script>

        <script>
            document.querySelectorAll(".splide").forEach((carousel) =>
                new Splide(carousel, {
                    perPage: 3,
                    perMove: 1,
                    fixedWidth: 340,
                    gap: 20,
                    arrows: false,
                    pagination: false,
                }).mount()
            );
        </script>

        <script>
            let btn = document.querySelector("#sidebtn");
            let sidebar = document.querySelector(".sidebar");
            let overlay = document.querySelector(".overlay");

            btn.onclick = function () {
                sidebar.classList.toggle("active"), overlay.classList.toggle("active");
            };
        </script>
        <script>
            let checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("click", checkboxHandler);
            });
            function checkboxHandler() {
                if (this.checked === true) {
                    this.closest(".checkbox-group").classList.add("checked");
                } else {
                    this.closest(".checkbox-group").classList.remove("checked");
                }
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../../js/custom-chart.js"></script>
    </body>
</html>
