<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>

<body>
    <nav class="navbar justify-content-between fixed-top violet">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <a href="dashboard-influencer.html">Dashboard</a>
                        <a href="services-add-influencer.html">Services</a>
                        <a href="orders-list-influencer.html">Orders</a>
                        <a href="withdrawal-influencer.html">Withdrawals</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-influencer.html" class="navbar-brand"><img src="../../images/Logo-mnWho.svg" alt="logo"></a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn p-0"><img class="m-0" src="../../images/icons/nav-bell.svg" alt="Bell"></button>
                <a href="edit-profile-influencer.html" class="btn avatar"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social violet">
                <ul>
                    <li><a href="dashboard-influencer.html" class="home active"></a></li>
                    <li><a href="youtube/youtube-add.html" class="youtube"></a></li>
                    <li><a href="instagram/instagram-add.html" class="instagram"></a></li>
                    <li><a href="facebook/facebook-add.html" class="facebook"></a></li>
                    <li><a href="twitter/twitter-add.html" class="twitter"></a></li>
                    <li><a href="tiktok/tiktok-add.html" class="tiktok"></a></li>
                    <li><a href="linkedin/linkedin-add.html" class="linkedIn"></a></li>
                    <li><a href="github/github-add.html" class="github"></a></li>
                    <li><a href="soundcloud/soundcloud-add.html" class="soundcloud"></a></li>
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu violet" id="menu">
                <h1 class="title">General</h1>
                <li><a href="dashboard-influencer.html" class="menu-dashboard">Dashboard</a></li>
                <li><a href="services-add-influencer.html" class="menu-service">Services</a></li>
                <li><a href="orders-list-influencer.html" class="menu-service-order">Orders</a></li>
                <li><a href="withdrawal-influencer.html" class="menu-withdrawal active">Withdrawals</a></li>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main">
        <div class="main-section withdrawal">
            <div class="banner-title row">
                <div class="col-12 col-md-2 nav-title-back">
                    <!-- <a href="#" class="btn"><img src="../../images/icons/go-back.svg" alt="back">Go back</a> -->
                </div>
                <div class="col-12 col-md-8 title">
                    <p class="text">Withdrawal</p>
                </div>
                <div class="col-12 col-md-2 button">
                    <!-- <button class="btn btn-solid-white">sadsd</button> -->
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <h1 class="box-title mb-4">Revenue earned</h1>
                    <div class="withdrawal-info-desk row">
                        <div class="item col-12 col-md-4">
                            <p>Withdrawals</p>
                            <h4>$800</h4>
                        </div>
                        <div class="item col-12 col-md-4">
                            <p>Pending clearance</p>
                            <h4>$0</h4>
                        </div>
                        <div class="item col-12 col-md-4">
                            <p>Available income</p>
                            <h4>$7600</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <h1 class="box-title mb-4">Withdraw money manually</h1>
                    <div class="withdrawals-manual">
                        <div class="amount">
                            <label>How much do you want to withdraw?</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="calculation">
                            <div class="calculation-info">
                                <div class="item mb-2">
                                    <p>filmnwho fee</p>
                                    <p>$0,00</p>
                                </div>
                                <div class="item">
                                    <p>Remaining balance:</p>
                                    <p>$7600</p>
                                </div>
                            </div>
                            <div class="calculation-final">
                                <p>You get:</p>
                                <p>$0,00</p>
                            </div>
                        </div>
                        <div class="card-select violet">
                            <form>
                                <div class="form-check form-check-inline check-card">
                                    <div class="d-flex" style="align-items: center;">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="">
                                        <label class="form-check-label mb-0" for="inlineRadio1">
                                            <div class="img">
                                                <img src="../../images/icons/payoneer.svg" alt="logo">
                                            </div>
                                            <div>
                                                <h4>Payoneer</h4>
                                                <p>*** *** *** 2254</p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline check-card">
                                    <div class="d-flex" style="align-items: center;">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label mb-0" for="inlineRadio2">
                                            <div class="img">
                                                <img src="../../images/icons/master-card.svg" alt="logo">
                                            </div>
                                            <div>
                                                <h4>Card</h4>
                                                <p>*** *** *** 2254</p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline check-card">
                                    <div class="d-flex" style="align-items: center;">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                        <label class="form-check-label mb-0" for="inlineRadio3">
                                            <div class="img">
                                                <img src="../../images/icons/paypal.svg" alt="logo">
                                            </div>
                                            <div>
                                                <h4>Paypal</h4>
                                                <p>*** *** *** 2254</p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="add-withdrawal p-0" style="border: none; background-color: transparent;">                                
                            <a href="withdrawal-method-add.html" class="btn">Add withdrawal method</a>
                        </div>
                        <a href="withdrawal-done-influencer.html" class="btn btn-solid-violet">Withdraw $600</a>
                    </div>
                </div>
            </div>
            <div class="custom-nav-tab-blue">
                <ul class="nav nav-tabs" id="withdrawalTableTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="withdrawal-tab" data-bs-toggle="tab" href="#withdrawal" role="tab" aria-controls="withdrawal" aria-selected="true">Withdrawals</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="income-tab" data-bs-toggle="tab" href="#income" role="tab" aria-controls="income" aria-selected="true">Income</a>
                    </li>
                </ul>
                <div class="tab-content" id="withdrawalTableTabContent">
                    <div class="tab-pane fade show active" id="withdrawal" role="tabpanel" aria-labelledby="withdrawal-tab">
                        <div class="withdrawals-table">
                            <div class="box">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">filmnwho fee</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2021-05-19</td>
                                                <td>$650</td>
                                                <td>manaul</td>
                                                <td>$20</td>
                                                <td>
                                                    <div class="status status-pending">
                                                        <p>Pending</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2021-05-19</td>
                                                <td>$650</td>
                                                <td>manaul</td>
                                                <td>$20</td>
                                                <td>
                                                    <div class="status status-pending">
                                                        <p>Pending</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2021-05-19</td>
                                                <td>$650</td>
                                                <td>manaul</td>
                                                <td>$20</td>
                                                <td>
                                                    <div class="status status-pending">
                                                        <p>Pending</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="income" role="tabpanel" aria-labelledby="income-tab">
                        <div class="withdrawals-table">
                            <div class="box">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">For</th>
                                            </tr>
                                        </thead>
                                        <tbody class="order">
                                            <tr>
                                                <td>2021-05-19</td>
                                                <td>$650</td>
                                                <td>Order 3512</td>
                                            </tr>
                                            <tr>
                                                <td>2021-05-19</td>
                                                <td>$650</td>
                                                <td>Order 3512</td>
                                            </tr>
                                            <tr>
                                                <td>2021-05-19</td>
                                                <td>$650</td>
                                                <td>Order 3512</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-12 col-xl-2">
                        <div class="logo">
                            <img src="../../images/mnWho-logo.svg" alt="logo">
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><img src="../../images/blog/instagram1.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/facebook.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/twitter.svg" alt="insta"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-xl-10">
                        <div class="row footer-link">
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Influencers</h3></li>
                                    <li><a href="#">Influencer</a></li>
                                    <li><a href="#">Influencer pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Brands</h3></li>
                                    <li><a href="#">Brand</a></li>
                                    <li><a href="#">Brand pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Resources</h3></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>About us</h3></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <div><p>© mnWho 2021. All rights reserved</p></div>
                    <div>
                        <a href="#">Terms</a>
                        <a href="#">Privacy</a>
                    </div>
                </div>
            </div>
        </footer>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>


    <script>
        document.querySelectorAll('.splide').forEach(carousel => new Splide( carousel, {
          perPage: 3,
          perMove: 1,
          fixedWidth: 340,
          gap: 20,
          arrows: false,
          pagination: false 
        } ).mount());
    </script>

  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
    <script>
        let checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("click", checkboxHandler);
            });
            function checkboxHandler() {
                if (this.checked === true) {
                    this.closest(".checkbox-group").classList.add("checked");
                } else {
                    this.closest(".checkbox-group").classList.remove("checked");
                }
            }
    </script>

    
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../js/custom-chart.js"></script>
</body>

</html>