<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">

</head>

<body>
    <nav class="navbar justify-content-between fixed-top violet">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <a href="#" class="menu-campaign-chat active">Campaign chat <span class="badge badge-light">4</span></a>
                        <a href="#" class="menu-service-chat">Services chat</a>
                        <a href="#" class="menu-paid-chat">Paid chat</a>
                        <a href="#" class="menu-brand-support">Brand Support</a>
                        <a href="#" class="menu-influencer-support">Influencer Support</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-influencer.html" class="navbar-brand"><img src="../../images/Logo-mnWho.svg" alt="logo"></a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn p-0"><img class="m-0" src="../../images/icons/nav-bell.svg" alt="Bell"></button>
                <a href="edit-profile-influencer.html" class="btn avatar"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social violet">
                <ul>
                    <li><a href="dashboard-influencer.html" class="home"></a></li>
                    <li><a href="youtube/youtube-add.html" class="youtube"></a></li>
                    <li><a href="instagram/instagram-add.html" class="instagram"></a></li>
                    <li><a href="facebook/facebook-add.html" class="facebook"></a></li>
                    <li><a href="twitter/twitter-add.html" class="twitter"></a></li>
                    <li><a href="tiktok/tiktok-add.html" class="tiktok"></a></li>
                    <li><a href="linkedin/linkedin-add.html" class="linkedIn"></a></li>
                    <li><a href="github/github-add.html" class="github"></a></li>
                    <li><a href="soundcloud/soundcloud-add.html" class="soundcloud"></a></li>
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu violet" id="menu">
                <h1 class="title">General</h1>
                <li><a href="#" class="menu-campaign-chat active">Campaign chat <span class="badge badge-light">4</span></a></li>
                <li><a href="#" class="menu-service-chat">Services chat</a></li>
                <li><a href="#" class="menu-paid-chat">Paid chat</a></li>
                <li><a href="#" class="menu-brand-support">Brand Support</a></li>
                <li><a href="#" class="menu-influencer-support">Influencer Support</a></li>
            </div>
            
        </div>
    </div>
    <div class="overlay"></div>
    <div class="menu chat-filter" id="menu">
        <h1 class="title" style="padding-left: 20px;">Filters</h1>
        <div class="sidenav-search" style="padding: 0 20px;">
            <div class="has-search">
                <span class="form-control-feedback"><img src="../../images/profile/search-icon.svg" alt="search-icon"></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>  
        <div class="sidenav-accordion" id="inf-list">
            <div class="card">
                <div class="card-header" id="inf-listhead1">
                    <a href="#inf-list1" class="btn btn-header-link collapsed" data-bs-toggle="collapse" aria-expanded="true" aria-controls="inf-list1">Location</a>
                </div>
                <div id="inf-list1" class="collapse">
                    <div class="card-body">
                        <form>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">United Arab Emirates</label>
                                </div>
                                <p>234</p>
                            </div>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">Spain</label>
                                </div>
                                <p>524</p>
                            </div>
                            <div class="form-show-more">
                                <button class="btn show-more">Show more</button>
                                <button class="btn clear">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="inf-listhead2">
                    <a href="#inf-list2" class="btn btn-header-link collapsed" data-bs-toggle="collapse" aria-expanded="true" aria-controls="inf-list1">Language</a>
                </div>
                <div id="inf-list2" class="collapse">
                    <div class="card-body">
                        <form>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Food</label>
                                </div>
                                <p>234</p>
                            </div>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">Sports</label>
                                </div>
                                <p>524</p>
                            </div>
                            <div class="form-show-more">
                                <button class="btn show-more">Show more</button>
                                <button class="btn clear">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="inf-listhead3">
                    <a href="#inf-list3" class="btn btn-header-link collapsed" data-bs-toggle="collapse" aria-expanded="true" aria-controls="inf-list1">Subscription Status</a>
                </div>
                <div id="inf-list3" class="collapse">
                    <div class="card-body">
                        <form>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Food</label>
                                </div>
                                <p>234</p>
                            </div>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">Sports</label>
                                </div>
                                <p>524</p>
                            </div>
                            <div class="form-show-more">
                                <button class="btn show-more">Show more</button>
                                <button class="btn clear">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="inf-listhead4">
                    <a href="#inf-list4" class="btn btn-header-link collapsed" data-bs-toggle="collapse" aria-expanded="true" aria-controls="inf-list1">Profile</a>
                </div>
                <div id="inf-list4" class="collapse">
                    <div class="card-body">
                        <form>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Food</label>
                                </div>
                                <p>234</p>
                            </div>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">Sports</label>
                                </div>
                                <p>524</p>
                            </div>
                            <div class="form-show-more">
                                <button class="btn show-more">Show more</button>
                                <button class="btn clear">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="inf-listhead5">
                    <a href="#inf-list5" class="btn btn-header-link collapsed" data-bs-toggle="collapse" aria-expanded="true" aria-controls="inf-list1">Campaigns</a>
                </div>
                <div id="inf-list5" class="collapse">
                    <div class="card-body">
                        <form>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Food</label>
                                </div>
                                <p>234</p>
                            </div>
                            <div class="form-check d-flex justify-content-between" style="align-items: center;">
                                <div class="d-flex" style="align-items: center;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">Sports</label>
                                </div>
                                <p>524</p>
                            </div>
                            <div class="form-show-more">
                                <button class="btn show-more">Show more</button>
                                <button class="btn clear">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear-filter">
                <button class="btn">Clear all filters</button>  
            </div>
        </div>
    </div>
    <main id="main" class="chat-main">
        <div class="main-section">
            <div class="nav-title justify-content-between">
                <h1>Campaign chat</h1>
            </div>
            <div class="support-tickets-list">
                <div id="products" class="row view-group">
                    <div class="item col-12">
                        <div class="influencer-card active">
                            <div class="influencer-card-body">
                                <div class="user-info">
                                    <img class="rounded-circle" src="../../images/influencer-list/ava.png" alt="ava">
                                    <div>
                                        <h5>Channel <img src="../../images/influencer-list/official-violet.svg" alt="icon"></h5>
                                        <p>Some status text</p>
                                    </div>
                                </div>
                                <div class="influencer-stats">
                                    <div>
                                        <h3>112M</h3>
                                        <p>Subscribers</p>
                                    </div>
                                    <div>
                                        <h3>112M</h3>
                                        <p>Subscribers</p>
                                    </div>
                                    <div class="location">
                                        <img src="../../images/influencer-list/location.svg" class="icon">
                                        <p>UAE</p>
                                    </div>
                                </div>
                            </div>
                            <div class="influencer-card-footer">
                                <a href="#" class="unread-mail" style="max-width: 90px; text-align: right;">Unread 2 messages</a>
                            </div>
                        </div>
                    </div>
                    <div class="item col-12">
                        <div class="influencer-card">
                            <div class="influencer-card-body">
                                <div class="user-info">
                                    <img class="rounded-circle" src="../../images/influencer-list/ava.png" alt="ava">
                                    <div>
                                        <h5>Channel <img src="../../images/influencer-list/official-violet.svg" alt="icon"></h5>
                                        <p>Some status text</p>
                                    </div>
                                </div>
                                <div class="influencer-stats">
                                    <div>
                                        <h3>112M</h3>
                                        <p>Subscribers</p>
                                    </div>
                                    <div>
                                        <h3>112M</h3>
                                        <p>Subscribers</p>
                                    </div>
                                    <div class="location">
                                        <img src="../../images/influencer-list/location.svg" class="icon">
                                        <p>UAE</p>
                                    </div>
                                </div>
                            </div>
                            <div class="influencer-card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-12 col-xl-2">
                        <div class="logo">
                            <img src="../../images/mnWho-logo.svg" alt="logo">
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><img src="../../images/blog/instagram1.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/facebook.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/twitter.svg" alt="insta"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-xl-10">
                        <div class="row footer-link">
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Influencers</h3></li>
                                    <li><a href="#">Influencer</a></li>
                                    <li><a href="#">Influencer pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Brands</h3></li>
                                    <li><a href="#">Brand</a></li>
                                    <li><a href="#">Brand pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Resources</h3></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>About us</h3></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <div><p>© mnWho 2021. All rights reserved</p></div>
                    <div>
                        <a href="#">Terms</a>
                        <a href="#">Privacy</a>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>

    <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
</body>

