.card{
    background: #FFFFFF;
    border-radius: 12px;
	border: none;
	margin-bottom: 20px;
	box-shadow: 0px 10px 40px -5px rgb(27 30 51 / 5%);
}
.card .card-image{
	max-height: 130px;
	overflow: hidden;
	border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card .card-img, 
.card .card-img-top{
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	position: relative;
}
.card .card-body{
	padding: 20px 20px 0;
}
.card .card-body img{
	width: 30px;
	height: 30px;
	margin-right: 8px;
}
.card .card-body h5{
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #3E3E3E;
	margin-bottom: 10px;
}
.card p.card-text{
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #3E3E3E;
	overflow : hidden;
  	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
}
.card span.rating{
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	color: #FF8718;
	padding-bottom: 12px;
	border-bottom: 1px solid #CED4E2;
	margin-bottom: 12px;
}
.card .card-footer,
.card .card-footer:last-child{
	padding: 0 20px 20px;
	border: none;
	background-color: #ffffff;
	border-radius: 0 0 12px 12px;
}
.card .footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
.card .location{
	display: flex;
	align-items: center;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	color: #939393;
}
.card .location img{
	margin-right: 4px;
}
.card .like-save .btn {
    padding: 0;
    width: 24px;
    height: 24px;
    margin-left: 20px;
}
.card .like-save .save {
    background-image: url(../../img/icons/saveno.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.card .like-save .save.active {
    background-image: url(../../img/icons/save.svg);
}
.card .like-save .like {
    background-image: url(../../img/icons/likeno.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.card .like-save .like.active {
    background-image: url(../../img/icons/like.svg);
}
.service-card .top{
	display: flex;
}
.service-card .top img{
	border-top-left-radius: 12px;
	width: 160px;
	height: 180px;
}
.service-card .top-right{
	padding: 20px;
	width: 100%;
}
.service-card .status{
	margin-bottom: 20px;
}
.service-card .top h4{
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #212121;
}
.service-card .text p{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	color: #757575;
}
.service-card .items{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.service-card .item p{
	font-weight: 600;
	font-size: 15px;
	line-height: 16px;
	color: #757575;
}
.service-card .item span{
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #212121;
}
.service-card.disable{
	background-color: #707FDACC;
}
.service-card.disable.brand{
	background-color: #6A9586;
}
.service-card.disable .top img{
	mix-blend-mode: soft-light;
}
.service-card.disable h4,
.service-card.disable span{
	color: #ffffff;
	opacity: 0.8;
}
.service-card.disable .text p,
.service-card.disable .item p{
	color: #ffffff;
	opacity: 0.5;
}

.add-card{
	display: inline-block;
	width: 340px;
	height: 375px;
	border: 2px dashed #707FDA;
	border-radius: 6px;
}
.add-card.brand{
	width: 480px;
	height: 275px;
	border: 2px dashed #6A9586;
}
.add-card.brand h2{
	max-width: 400px;	
}
.add-card.brand p{
	max-width: 400px;
}
.add-card .add-body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	flex-direction: column;
}
.add-card h2{
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #757575;
	max-width: 215px;
	text-align: center;
	margin-bottom: 15px;
}
.add-card p{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #757575;	
	max-width: 243px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 25px;
}

.account-card.disable{
	background-color: #707FDACC;
}
.account-card.disable{
	background-color: #88AA9E;
}
.account-card.disable h2.title,
.account-card.disable h3.sub-title,
.account-card.disable h3{
	color: #ffffff;
}
.account-card.disable path{
	fill: #ffffff;
}
.account-card.disable .account-stats p,
.account-card.disable p.description{
	color: #FFFFFF;
	opacity: 0.8;
}

.disable circle{
	fill: #ffffff;
}
.disable.brand circle{
	fill: #6A9586;
}

.account-list{
	display: grid;
	grid-template-columns: repeat(auto-fill, 340px);
	grid-gap: 20px;
	margin-bottom: 40px;
}
.channel-card .card-image{
	max-height: 160px;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.channel-card h5.card-title{
	font-weight: 700;
	font-size: 16px;
	line-height: 14px;
	color: #212121;
	margin-bottom: 15px;
}
.channel-card .playlist-info{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}
.channel-card .playlist-info .item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.channel-card .playlist-info img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}
.channel-card .playlist-info p {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
}
.channel-card p.card-text{
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	color: #757575;
	margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.channel-card.disable{
	background-color: #707FDACC;
}
.channel-card.disable h5.card-title{
	color: #ffffff;
}
.channel-card.disable .card-image img{
	mix-blend-mode: soft-light;	
}
.channel-card.disable .playlist-info p,
.channel-card.disable p.card-text{
	color: #ffffff;
	opacity: 0.8;
}


.campaign-card .campaign-status{
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.campaign-card .campaing-head{
	display: flex;
	margin-bottom: 15px;
}
.campaign-card .campaing-head .img{
	margin-right: 15px;
	width: 100px;
	height: 100px;
}
.campaign-card .campaing-head h6{
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #212121;
	margin-bottom: 5px;
}
.campaign-card .campaing-head p{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #757575;
	margin-bottom: 5px;
}
.campaign-card .campaing-head span{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #212121;
}
.campaign-card p.text{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    margin-bottom: 15px;
}
.campaign-card .img-group {
    display: flex;
    margin-left: 10px;
    margin-right: 5px;
}
.campaing-follow{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.campaing-follow span{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #212121;
}
.campaign-card .img-group img {
    margin-left: -10px;
    margin-right: 0!important;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.campaign-foot{
	display: flex;
}
.campaign-foot:first-child {
	margin-bottom: 15px;
}
.campaign-foot img{
	margin-right: 8px;
}
.campaign-foot p{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #212121;
}
.campaign-card.disable.brand{
	background-color: #6A9586;
}
.campaign-card .tree-dot.dropdown{
	background: #F6F7FC;
}
.account-card.brand .tree-dot.dropdown{
	background: #F6F7FC;
}
.campaign-card.disable .campaing-head h6,
.campaign-card.disable .campaing-head span,
.campaign-card.disable .campaing-follow span,
.campaign-card.disable .campaign-foot p{
	color: #ffffff;
}
.campaign-card.disable .campaing-head p,
.campaign-card.disable p.text{
	color: #ffffff;
	opacity: 0.7;
}



.bookmark-card
{ 
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 0px;
}
.bookmark-card-body{
  padding: 20px;
  border-bottom: 1px solid #E9EBF3;
}
.bookmark-card-footer{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookmark-card-body .user-info{
  display: flex;
  align-items: center;
}
.bookmark-card-body .user-info img{
  width: 56px;
  height: 56px;
  margin-right: 15px;
}
.bookmark-card-body .user-info h5{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #212121;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.bookmark-card-body .user-info h5 img{
  width: 16px;
  height: 16px;
  margin-left: 7px;
}
.bookmark-card-body .user-info p{
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #757575;
}
.bookmark-card-body .bookmark-stats{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;
}
.bookmark-card-body .bookmark-stats h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.bookmark-card-body .bookmark-stats p{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #757575;
}

.bookmark-card-footer .location{
  display: flex;
  align-items: center;
}
.bookmark-card-footer .location p{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7E847F;
  margin-left: 3px;
}
.bookmark-card-footer .like-save .btn{
  padding: 0; 
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
.bookmark-card-footer .like-save .save{
  background-image: url(../../images/influencer-list/save.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.bookmark-card-footer .like-save .save.active{
  background-image: url(../../images/influencer-list/save-active.svg);
}
.bookmark-card-footer .like-save .like{
  background-image: url(../../images/influencer-list/like.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.bookmark-card-footer .like-save .like.active{
  background-image: url(../../images/influencer-list/like-active.svg);
}