<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/main.css">



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

</head>

<body>
    <nav class="navbar justify-content-between fixed-top violet">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay">
                    <a href="javascript:void(0)" class="closebtn btn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <a href="#">Content</a>
                        <a href="#">Services</a>
                        <a href="#">Orders</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-influencer.html" class="navbar-brand"><img src="../../../images/Logo-mnWho.svg" alt="logo"></a>
                
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn p-0"><img class="m-0" src="../../../images/icons/nav-bell.svg" alt="Bell"></button>
                <button class="btn avatar"><img class="rounded-circle" src="../../../images/ava.png" alt="ava"></button>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social violet">
                <ul>
                    <li><a href="../dashboard-influencer.html" class="home"></a></li>
                    <li><a href="../youtube/youtube-add.html" class="youtube"></a></li>
                    <li><a href="../instagram/instagram-add.html" class="instagram"></a></li>
                    <li><a href="../facebook/facebook-add.html" class="facebook"></a></li>
                    <li><a href="../twitter/twitter-add.html" class="twitter"></a></li>
                    <li><a href="../tiktok/tiktok-add.html" class="tiktok"></a></li>
                    <li><a href="linkedin-add.html" class="linkedIn active"></a></li>
                    <div class="divider"></div>
                    <li><a href="../invoice-influencer.html" class="withdrawal"></a></li>
                    <li><a href="../edit-profile-influencer.html" class="setting"></a></li>                    
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu violet" id="menu">
                <h1 class="title">LinkedIn</h1>
                <li><a href="linkedin-content.html" class="menu-content active">Content</a></li>
                <li><a href="linkedin-service.html" class="menu-service">Services</a></li>
                <li><a href="linkedin-order.html" class="menu-metrics">Orders</a></li>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main">
        <div class="main-section">
            <div class="banner-title row linkedin">
                <div class="col-12 col-md-2 nav-title-back">
                    <a href="#" class="btn"><img src="../../../images/icons/go-back.svg" alt="back">Go back</a>
                </div>
                <div class="col-12 col-md-8 title">
                    <img src="../../../images/icons/banner-linkedin.svg" alt="icon">
                    <p class="text">Content</p>
                    <span>Channel: LabelCom</span>
                </div>
                <div class="col-12 col-md-2 button">
                </div>
            </div>
            <div class="box">
                <div class="box-body instagram">
                    <form class="violet">
                        <div class="form-group">
                            <label for="linkedin" class="d-block">Your LinkedIn channel link</label>
                            <small id="emailHelp" class="form-text text-muted d-block" style="margin-bottom: 8px;">Cursus in id nulla aliquet vivamus blandit.</small>
                            <input type="text" class="form-control" id="linkedin" aria-describedby="linkedin" placeholder="https://">
                        </div>
                        <a href="linkedin-content.html" class="btn btn-solid-violet">Submit URL</a>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer-body row">
                    <div class="col-lg-2 col-12">
                        <div class="footer-logo"><img src="../../../images/mnWho-logo.svg"></div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Influencer</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="footer-social">
                            <ul>
                                <li><button class="btn"><img src="../../../images/icons/instagram.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../../images/icons/facebook.svg" alt="icon"></button></li>
                                <li><button class="btn"><img src="../../../images/icons/twitter.svg" alt="icon"></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <p>© mnWho 2021. All rights reserved</p>
                    <a href="#">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </main>


  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>