<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../vendor/js/bootstrap.min.js"></script>
    <script src="../../js/index.js"></script>
</head>

<body>
    <nav class="navbar justify-content-between fixed-top">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <a href="#">Dashboard</a>
                        <a href="#">Campaigns</a>
                        <a href="#">Service orders</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="dashboard-influencer.html" class="navbar-brand"><img src="../../images/Logo-mnWho.svg" alt="logo"></a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn"><img class="m-0" src="../../images/icons/nav-bookmark.svg" alt="Bell"></button>
                <button class="btn"><img class="m-0" src="../../images/icons/nav-bell.svg" alt="Bell"></button>
                <a href="edit-profile-influencer.html" class="btn avatar m-0"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social">
                <ul>
                    <li><a href="dashboard-influencer.html" class="home active"></a></li>
                    <li><a href="youtube/youtube-add.html" class="youtube"></a></li>
                    <li><a href="instagram/instagram-add.html" class="instagram"></a></li>
                    <li><a href="facebook/facebook-add.html" class="facebook"></a></li>
                    <li><a href="twitter/twitter-add.html" class="twitter"></a></li>
                    <li><a href="tiktok/tiktok-add.html" class="tiktok"></a></li>
                    <li><a href="linkedin/linkedin-add.html" class="linkedIn"></a></li>
                    <li><a href="github/github-add.html" class="github"></a></li>
                    <li><a href="soundcloud/soundcloud-add.html" class="soundcloud"></a></li>
                    <div class="divider"></div>
                    <li><a href="#" class="sms"></a></li>
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu" id="menu">
                <h1 class="title">General</h1>
                <li><a href="#" class="menu-dashboard active">Dashboard</a></li>
                <li><a href="#" class="menu-campaigns">Campaigns</a></li>
                <li><a href="#" class="menu-service-order">Service orders</a></li>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main">
        <div class="main-section dashboard">
            <div class="nav-title">
                <div class="nav-title-back">
                    <h1>Dashboard</h1>
                </div>
            </div>
            <div class="welcome">
                <h1 class="brand">Welcome back, Jimmi!</h1>
            </div>
            <div class="alert dashboard-alert red">
                <div class="d-flex">
                    <img src="../../images/dashboard/dashboard-alert-red.svg" alt="icon">
                    <div>
                        <h3>Your FREE Trial subscription started.... will end after 4 days</h3>
                        <p>*no refund after start of paid subscription</p>
                    </div>
                </div>
                <button class="btn" type="button" data-dismiss="alert">
                    <img src="../../images/dashboard/alert-close-red.svg" alt="alert-close" style="margin-right: 0;">
                </button>
            </div>
            <div class="verify-account">
                <div class="verify-item block-container verified">
                    <img src="../../images/verify-influensers.svg" alt="icon">
                    <h4>Limited Influensers</h4>
                </div>
                <div class="verify-item block-container">
                    <h4>Creat Campaign</h4>
                    <div class="verify-account-stats">
                        <span>0</span>
                        <p>Campaigns are Created</p>
                    </div>
                    <p class="verify-account-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum nunc nisl dui, fermentum velit aliquam blandit mus. Praesent non tincidunt tellus hac. 
                    </p>
                    <a href="#" class="btn btn-outline w-100">Create your services</a>
                </div>
                <div class="verify-item block-container">
                    <h4>Start Full subscription</h4>
                    <div class="verify-account-stats">
                        <span>6</span>
                        <p>Month</p>
                    </div>
                    <p class="verify-account-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum nunc nisl dui, fermentum velit aliquam blandit mus. Praesent non tincidunt tellus hac. 
                    </p>
                    <a href="#" class="btn btn-solid w-100">Start Full Subscription</a>
                    <a href="#" class="btn btn-outline w-100" data-toggle="modal" data-target="#exampleModalCenter">Apply Promo Code</a>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content block-container">
                        <div class="modal-header d-block">
                            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                                <img class="m-0" src="../../images/icons/close.svg" alt="close">
                            </button>
                            <h1>Apply your promocode</h1>
                        </div>
                        <div class="modal-body">
                            <form class="violet w-100">
                                <input type="text" class="form-control" id="companyName" placeholder="PROMOCODE">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-solid-grey" data-dismiss="modal">Back</button>
                            <button type="button" class="btn btn-solid" style="margin-left: 20px;">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="verify-account">
                <div class="verify-promocode block-container">
                    <div class="d-flex align-items-center">
                        <img src="../../images/blog/promocode-ava.png" alt="ava">
                        <h3>Aida Cicnajluk</h3>
                    </div>
                    <p>Reach out to Aida for promo code of your</p>
                    <button href="#" class="btn btn-outline w-100">Get Promo code</button>
                </div>
            </div>
            <div class="dashboard-title">
                <div class="divider"></div>
                <p>choose your subscription</p>
            </div>
            <div class="pricing-card" style="justify-content: normal">
                <div class="box">
                    <div class="item box-body" style="box-shadow: none;">
                        <div class="period brand"><p>6 Monts</p></div>
                        <div class="price">
                            <p>$18</p>
                            <span> /per month</span>
                        </div>
                        <div class="subscribe-info">
                            <h3>Paid Subscription Starts after:</h3>
                            <ul>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Credit card is charged after the 1 week free trial</li>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Credit card is charged for 6 months fees and charges are not refundable</li>
                            </ul>
                        </div>
                        <div class="subscribe-info">
                            <h3>Paid subscription:</h3>
                            <ul>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Unlimitted influencer search</li>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Buy services from influencer</li>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Activate mnWho managed campaigns</li>
                            </ul>
                        </div>
                        <a href="subscription-upgrade-influencer.html" class="btn btn-solid w-100">Choose plan</a>
                    </div>
                </div>
                <div class="box">
                    <div class="item box-body" style="box-shadow: none;">
                        <div class="period brand"><p>1 YEAR</p></div>
                        <div class="price">
                            <p>$10</p>
                            <span> /per month</span>
                        </div>
                        <div class="subscribe-info">
                            <h3>Subscription starts after:</h3>
                            <ul>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Credit card is charged after the 1 week free trial</li>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Credit card is charged for 1 year fees and charges are not refundable</li>
                            </ul>
                        </div>
                        <div class="subscribe-info">
                            <h3>Paid Subscription:</h3>
                            <ul>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Unlimitted influencer search</li>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Buy services from influencer</li>
                                <li><img src="../../images/icons/check-circle-brand.svg" alt="icon">Activate mnWho managed campaigns</li>
                            </ul>
                        </div>
                        <a href="subscription-upgrade-influencer.html" class="btn btn-solid w-100">Choose plan</a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-12 col-xl-2">
                        <div class="logo">
                            <img src="../../images/mnWho-logo.svg" alt="logo">
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><img src="../../images/blog/instagram1.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/facebook.svg" alt="insta"></a></li>
                                <li><a href="#"><img src="../../images/blog/twitter.svg" alt="insta"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-xl-10">
                        <div class="row footer-link">
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Influencers</h3></li>
                                    <li><a href="how-it-works-influencer.html">Influencer</a></li>
                                    <li><a href="subscription-process-influencer.html">Influencer pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Brands</h3></li>
                                    <li><a href="how-it-works-brand.html">Brand</a></li>
                                    <li><a href="subscription-process-brand.html">Brand pricing</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>Resources</h3></li>
                                    <li><a href="../faq-blog/blog.html">Blog</a></li>
                                    <li><a href="../faq-blog/faq.html">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <ul>
                                    <li><h3>About us</h3></li>
                                    <li><a href="../faq-blog/career.html">Career</a></li>
                                    <li><a href="../faq-blog/contact.html">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer-bottom">
                    <div><p>© mnWho 2021. All rights reserved</p></div>
                    <div>
                        <a href="../faq-blog/term-condition.html">Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </main>

  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
</body>

</html>