<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">   
</head>

<body style="background-color: #ffffff;">
    <div class="topnav color-white">
        <div class="top-navbar">
            <div class="nav-left">
                <a href="#"><img src="../../images/mnWho-logo-violet.svg" alt="logo"></a>
            </div>
            <!-- <div class="nav-right">
                <ul>
                    <li><a class="btn" href="sign-up-influencer.html">Influencer</a></li>
                    <li><a class="btn" href="sign-up-brand.html">Brands</a></li>
                    <li><a class="btn btn-solid-violet" href="login.html">Login</a></li>
                </ul>
                <div id="myNav" class="topnav-overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        <li><a class="btn" href="sign-up-influencer.html">Influencer</a></li>
                        <li><a class="btn" href="sign-up-brand.html">Brands</a></li>
                        <li><a class="btn" href="login.html">Login</a></li>
                    </div>
                </div>
                <a href="#" class="btn avatar"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
                <span style="font-size:30px;cursor:pointer;color:#000000; margin-left: 15px" onclick="openNav()">&#9776; </span>
            </div> -->
        </div>
    </div>
    <section class="section-bg">
        <div class="container">
            <div class="password-reset">
                <div class="add">
                    <img src="../../images/icons/done.svg">
                    <h1>Password reset was successfull</h1>
                    <a href="#"><b>Login</b></a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-12 col-xl-2">
                    <div class="logo">
                        <img src="../../images/mnWho-logo.svg" alt="logo">
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><img src="../../images/blog/instagram1.svg" alt="insta"></a></li>
                            <li><a href="#"><img src="../../images/blog/facebook.svg" alt="insta"></a></li>
                            <li><a href="#"><img src="../../images/blog/twitter.svg" alt="insta"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-xl-10">
                    <div class="row footer-link">
                        <div class="col-12 col-md-6 col-xl-3">
                            <ul>
                                <li><h3>Influencers</h3></li>
                                <li><a href="../landing-pricing-registration/how-it-works-influencer.html">Influencer</a></li>
                                <li><a href="../landing-pricing-registration/subscription-process-influencer.html">Influencer pricing</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <ul>
                                <li><h3>Brands</h3></li>
                                <li><a href="../landing-pricing-registration/how-it-works-brand.html">Brand</a></li>
                                <li><a href="../landing-pricing-registration/subscription-process-brand.html">Brand pricing</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <ul>
                                <li><h3>Resources</h3></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <ul>
                                <li><h3>About us</h3></li>
                                <li><a href="career.html">Career</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="footer-bottom">
                <div><p>© mnWho 2021. All rights reserved</p></div>
                <div>
                    <a href="term-condition.html">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../vendor/js/bootstrap.min.js"></script>
    <script src="../../js/index.js"></script>
</body>

</html>